:root {
  --primary-color: #29abad;
  --secondary-color: #6cb5b6b6 ;
  --third-color: #72e8e1;
  --background-color: #e4fcf3a9;
  --navbrand-color: #29b4a9;
}

.portfolio-img {
  width: 60%;
  border: 2px solid var(--primary-color);
}

body {
  background-color: var(--background-color);
}

.navbar-brand {
  color: var(--navbrand-color) ;
  font-weight: 700;
}

.nav-link {
  color: var(--primary-color);
  font-weight: 700;
}

.nav-link:hover {
  color: white;
  background-color: #35bcbf;
  border-radius: 15px;
  padding: 7px 15px;
  transition: 0.2ms ease-in-out;
}

h1 {
  color: var(--primary-color);
  font-size: 70px;
  font-weight: 700;
}

h2 {
  color: var(--secondary-color) ;
  font-size: 16px;
}





