:root {
  --primary-color: #29abad;
  --secondary-color: #6cb5b6b6;
  --description-color: #95a3a3e7;
  --third-color: #72e8e1;
  --background-color: #e4fcf3a9;
  --navbrand-color: #29b4a9;
}

.portfolio-img {
  width: 60%;
  border: 3px solid var(--primary-color);
}

.navbar-brand {
  color: var(--navbrand-color);
  font-weight: 700;
}

.nav-link {
  color: var(--primary-color);
  font-weight: 700;
}

.nav-link:hover {
  color: white;
  background-color: #35bcbf;
  border-radius: 15px;
  padding: 7px 15px;
  transition: 0.2ms ease-in-out;
}

h1 {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 700;
}

h2 {
  color: var(--secondary-color);
  font-size: 18px;
  padding: 7px;
}

.coding-languages {
  color: var(--description-color);
  font-weight: 500;
  padding: 4px 5px;
  font-size: 20px;
}

h3 {
  color: var(--primary-color);
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

h4 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 33px;
}

p {
  color: var(--description-color);
  font-weight: 500;
  font-size: 19px;
}

a {
  text-decoration: none;
}

span {
  color: var(--description-color);
  font-weight: 500;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid;
}

@media (max-width: 991px) {
  .portfolio-img {
    display: none;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  h2 {
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .image {
    display: none;
  }

  p {
    font-size: 20px;
  }
}
